@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body,
.forge-flow {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}
a {
  color: red !important;
}
.form-group input {
  border: 2px solid #4C64D9;
  background-color: #4C64D9;
  border-radius: 20px;
  height: 40px;
  font-size: 14px;
  padding: 0 24px;
}
.form-group input:hover, .form-group input:focus, .form-group input:active {
  border: 2px solid #2E45B7;
  background-color: #2E45B7;
}
